<!-- <nav class="navbar navbar-expand-lg bg-body-light"> -->
    <!-- //navbar color -->
<!-- <nav class="navbar navbar-expand-md bg-success-subtle border-bottom sticky-top">  -->
<!-- <nav class="navbar navbar-expand-md border-bottom sticky-top glass-navbar"> -->
  <nav class="navbar navbar-expand-md border-bottom sticky-top glass-navbar">



<div class="container-fluid">
    <!-- <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a> -->
  <a class="navbar-brand d-flex align-items-center gap-2" href="/" style="color:inherit;">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="28"
    height="28"
    viewBox="0 0 24 24"
    fill="none"
    stroke="#FF385C"
    stroke-width="1.8"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path d="M3 10.5L12 3l9 7.5"></path>
    <path d="M5 10v10a1 1 0 0 0 1 1h4v-6h4v6h4a1 1 0 0 0 1-1V10"></path>
  </svg>

  <span class="fw-semibold fs-3" style="color:#FF385C !important;">
    Nestiva
  </span>
</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
     
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/listings">All Listings</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add new Listings</a>
        </li>

       
      </ul>
    </div>
  </div>
</nav>
