<% layout("/layouts/boilerplate") %>

<div class="container mt-3 mb-2" style="max-width:600px;">

  
  <h3>Create new Listing</h3>

  <form method="POST" action="/listings">

    <div class="mb-3">
      <label class="form-label">Title</label>
      <input name="listing[title]" type="text" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <!-- <textarea name="listing[description]" class="form-control" rows="3"></textarea> -->
      <textarea name="listing[description]" class="form-control" rows="3"></textarea>


    </div>

    <div class="mb-3">
      <label class="form-label">Image Link</label>
      <input name="listing[image][url]" type="text" class="form-control">

    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">Price</label>
        <input name="listing[price]" type="number" class="form-control">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Country</label>
        <input name="listing[country]" type="text" class="form-control">
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Location</label>
      <input name="listing[location]" type="text" class="form-control">
    </div>

    <button class="btn add-btn">Add</button>
  </form>

</div>
